@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins';
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.card-container {
    text-align: center;
    padding: 50px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    color: rgb(0, 0, 0);
}

.ig {
    justify-content: center;
    display: flex;
    width: 40px;
    display: inline-flex;
    color: rgb(0, 0, 0);
}

h1 {

    color: rgb(255, 255, 255);
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}


button,
a.kembali {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
    margin: 5px;
    flex-direction: column;
    display: flex;
    text-align: center;

}

.kembali {
    background: #007bff;
}

button:hover,
a.kembali:hover {
    opacity: 0.8;
}

.card-container img {
    text-align: justify;
    max-width: 70%;
    size-adjust: 30px;
    border-radius: 100px;

}

@media (max-width: 768px) {
    .container {
        display: grid;
    }


}